body {
    background-color: #96B6C5;
	font: 16px arial, sans-serif;
	color: #000000;
	margin: 0;
	padding: 0;
}

div.data {
	margin-left: 110px;
	max-width:calc(100% - 160px);
	margin-right:50px;
	z-index: 1;
}

div.header {
	width: 100%;
	background-color: #EEE0C9;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	padding: 0px;
	margin: 0px 0px 50px 0px;
	display: flex;
	height: 120px;
	justify-content: space-between;
}

div.pagemenu {
	position: fixed;
	top: 0px;
	width: 100px;
	left: 0px;
	z-index: 10;
}

div.header > div {
  margin: 10px 10px 10px 0px;
  padding: 10px 20px 0px 20px;
}

caption {
	font: 24px arial, sans-serif;
	color: #000000;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	background-color: #c9d1d8;
	margin-bottom:50px;
}


td {
	border: 1px solid #61686c;
	padding: 5px;
	background-color: #F1F0E8;
	color: #34383a;
}

th {
	border: 1px solid #61686c;
	padding: 5px;
	background-color: #F1F0E8;
	color: #34383a;
}

td.title{
	font-weight: bold;
	height:40px;
}

td.link{
	height:40px;
}

td:hover {
	background-color: #c9d1d8;
	color: #12100E;
	cursor: pointer;
}

table.slidemenu {
	position:fixed;
	top:100px;
	width: 110px;
	left: 0px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

table.hidden {
	position: fixed;
	left: -250px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

th.limited {
	min-width:100px;
	max-width:200px;
}

th.byNameLimited {
	min-width:100px;
	max-width:250px;
}

th.byEffectLimited {
	min-width:250px;
	max-width:500px;
}

th.healingLimited {
	width:12.5%;
	max-width: 150px;
}

th#healingDescription {
	width: 25%;
}

th.enhancementLimited {
	width:16.66%;
	max-width: 150px;
}

th#enhancementDescription {
	width: 33.33%;
}

th.spellResistsLimited {
	width:11.11%;
	max-width: 150px;
}

th#spellResistsDescription {
	width: 22.22%;
}

th.poisonsLimited {
	width:11.11%;
	max-width: 150px;
}

th#poisonsDescription {
	width: 22.22%;
}

th.utilityLimited {
	width:12.5%;
	max-width: 150px;
}

th#utilityDescription {
	width: 25%;
}
	
th.otherLimited {
	width:11.11%;
	max-width: 150px;
}

th#otherDescription {
	width: 22.22%;
}

td.title {
	font-weight: bold;
}

tr.menus {
	height:30px;
}

tr.bookmark{
	height:0px;
	border:none;
	padding:0px;
	margin:0px;
}

tr.bookmark > td{
	height:0px;
	border:none;
	padding:0px;
	margin:0px;
	display:none;
}

table#hiddenHerb1 {
	position: fixed;
	top: 105px;
}

table#hiddenHerb2 {
	position: fixed;
	top: 135px;
}

table#hiddenHerb3 {
	position: fixed;
	top: 165px;
}

table#tableByName {
	min-width: 500px;
	max-width: 100%;
}

table#tableByEffect {
	min-width: 500px;
	max-width: 1000px;
}

table.Recipes {
	width:100%;
}

a {
	color: #34383a;
}

h2 {
	font: 1.5em arial, sans-serif;
	font-weight: bold;
	margin:50px;
	padding-top:25px;
}

h1 {
	font: 3em arial, sans-serif;
	font-weight: bold;
	margin: 0px 0px 30px 0px;
	padding: 20px 0px 30px 20px;
}